[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
python-dotenv = "*"
ansicolors = "*"
grafoleancollector = "*"
redis = "*"

[requires]
python_version = "3.6"
